@media (min-width: 768px) {
    .container--mini {
        max-width: 380px !important;
    }
}

.section {
    padding: 65px 0px
}

.form-group>label {
    margin-top: 4px
}

.form-group {
    margin-top: 22px
}

.form-group>a {
    float: right
}