.container {
    position: relative;
}

.container>a {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid blue;
    padding: 5px 42px;
    background-color: white;
    color: blue;
}

.container>a:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}

h1 {
    text-align: center;
    margin: 50px 0px !important
}

table thead tr {
    text-align: center;
}

table tbody tr {
    align-items: center;
}

.action {
    text-align: center;
}

.action a {
    padding: 8px;
    margin-left: 8px;
    color: black;
}

.action a:hover {
    color: red;
}

.action a>i {
    font-size: 18px;
    text-align: center;
    
}