header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

body {
    padding-top: 72px
}

.btn-header {
    color: green !important;
    background-color: white !important;
    border: 2px green !important;
    padding: 9px 24px !important;
}

.btn-header:hover {
    color: white !important;
    background-color: green !important;
}
